# Aula 04 - Set e Compreensão de listas

Na aula de hoje, iremos explorar os seguintes tópicos em Python:
- set
- Compreensão de listas

## Set

Como **list**, **tuple** e **dict**, **set** é uma estrutura utilizada para armazenar múltiplas variáveis em apenas uma. 
É uma coleção de não ordenados, não mutável, não indexável e que não aceita repetição.

**Não ordenada:** A cada chamada, a ordem dos itens pode aparecer diferente, não sendo referenciado por um index ou uma chave.

**Não mutável:** Uma vez que o set é criado, não se pode mudar os itens, mas podemos remover ou adicionar novos itens ao set.

Vejamos abaixo como utilizá-la!

In [17]:
print(type([1]))
print(type((1,2)))
print(type({}))
print(type({'chave': 'valor'}))
print('---')
print(type({'set'}))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'dict'>
---
<class 'set'>

In [7]:
conjunto_1 = set() # gera um set
conjunto_2 = {}
conjunto_3 = {'apple'} # apesar da utilização de chaves, não é dicionário, por não ter estrutura chave-valor

In [9]:
print(f"Conjunto 1: {conjunto_1}, tipo: {type(conjunto_1)}")
print(f"Conjunto 2: {conjunto_2}, tipo: {type(conjunto_2)}")
print(f"Conjunto 3: {conjunto_3}, tipo: {type(conjunto_3)}")

Conjunto 1: set(), tipo: <class 'set'>
Conjunto 2: {}, tipo: <class 'dict'>
Conjunto 3: {'apple'}, tipo: <class 'set'>

In [2]:
conjunto_1

set()

In [3]:
type(conjunto_1)

set

In [18]:
lista_de_alunos_sem_repeticao = {'Lucas', 'Fernanda', 'Levy'}

In [19]:
lista_de_alunos_sem_repeticao

{'Fernanda', 'Levy', 'Lucas'}

In [20]:
type(lista_de_alunos_sem_repeticao)

set

In [21]:
# Não conseguimos indexar um set!
lista_de_alunos_sem_repeticao[0]

TypeError: 'set' object is not subscriptable

In [22]:
# mas conseguimos iterar
for aluno in lista_de_alunos_sem_repeticao:
    print(aluno)

Lucas
Levy
Fernanda

In [24]:
lista_produtos = ["Produto1", "Produto2", "Produto1", "Produto3", "Produto3", "Produto1"]

In [25]:
lista_produtos

['Produto1', 'Produto2', 'Produto1', 'Produto3', 'Produto3', 'Produto1']

In [26]:
set(lista_produtos)

{'Produto1', 'Produto2', 'Produto3'}

In [27]:
# Podemos adicionar novos elementos ao set
lista_de_alunos_sem_repeticao

{'Fernanda', 'Levy', 'Lucas'}

In [28]:
lista_de_alunos_sem_repeticao.add("Guilherme")

In [29]:
lista_de_alunos_sem_repeticao

{'Fernanda', 'Guilherme', 'Levy', 'Lucas'}

In [30]:
# Também conseguimos remover
lista_de_alunos_sem_repeticao.remove("Lucas")

In [31]:
lista_de_alunos_sem_repeticao

{'Fernanda', 'Guilherme', 'Levy'}

In [32]:
lista_de_alunos_sem_repeticao.clear() # "limpamos" o set

In [33]:
print(lista_de_alunos_sem_repeticao)

set()

In [34]:
del lista_de_alunos_sem_repeticao # deleta a variável
print(lista_de_alunos_sem_repeticao)

NameError: name 'lista_de_alunos_sem_repeticao' is not defined

In [36]:
# set é um conjunto não ordenado
st1 = set()
st1.add(1)
st1.add(4)
st1.add(3)
st1.add(5)
st1.add(2)
print(st1)

st2 = set()
st2.add(2)
st2.add(44)
st2.add(11)
st2.add(5)
st2.add(33)
print(st2)

{1, 2, 3, 4, 5}
{33, 2, 5, 11, 44}

Podemos também juntar dois **sets** de dados

In [37]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [38]:
for elemento in set3:
    print(elemento)

1
2
3
c
a
b

In [40]:
set3[2:4]

TypeError: 'set' object is not subscriptable

E utilizar os métodos de conjuntos matemáticos que conhecemos:

`difference`, `intersection`, `union`, [entre outros](https://www.w3schools.com/python/python_sets_methods.asp)

Vimos portanto que:

- **set** é uma coleção de objetos únicos, não indexável e não ordenada.

Em muitas situações, poderá ser útil trabalhar com essa estrutura, já que podemos obter, de todo um conjunto de dados/informações, apenas os valores únicos.

### Recapitulando...

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered** and changeable. No duplicate members.


*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

___
## Compreensão de listas


Uma abordagem extremamente útil em python é a __compreensão de listas__ (list comprehension), com a qual é possível construir listas novas a partir de outras listas de forma bem condensada!

A sintaxe é: 

```python
[operacao_sobre_os_items for item in lista_base]
```

Por exemplo, imagine que queremos o dobro de cada número dentro de uma lista.

Uma forma de realizar essa tarefa é utilizando o laço `for`.

In [41]:
numeros = [1, 2, 3, 5, 153, -56, -1247]

In [42]:
dobro_numeros = []

for numero in numeros:
    dobro = numero * 2
    dobro_numeros.append(dobro)

In [43]:
dobro_numeros

[2, 4, 6, 10, 306, -112, -2494]

Utilizando a compreensão de listas temos:

Para cada número dentro de numeros: `for numero in numeros`

Calcule o dobro: `numero * 2`

Logo:

```
[ numero * 2 for   numero    in   numeros   ]
. <resultado>     <elemento>     <elementos>
```

In [44]:
dobro_numeros_compreensao_de_listas = [numero * 2 for numero in numeros]

In [45]:
dobro_numeros_compreensao_de_listas

[2, 4, 6, 10, 306, -112, -2494]

Veja, assim, que o código fica consideravelmente mais "limpo"! Note, contudo, que a estrutura do **for** continua presente; o que alteramos foi, apenas, a maneira como escrevemos e criamos a lista.

Também é possível construir uma lista usando compreensão de listas com base em alguma estrutura condicional!

Se você for utilizar apenas o if, a sintaxe é:

```python
[operacao_sobre_os_items for item in lista_base if condicao]
```

In [46]:
# Vamos criar uma lista que colete apenas números pares de uma lista base
lista_base = [1, 2, 3, 4, 5, 10, 21, 23, 27, 29, 30]

# forma "tradicional"
lista_pares = []
for num in lista_base:
    if num %2 == 0:
        lista_pares.append(num)

print(lista_pares)

[2, 4, 10, 30]

In [54]:
lista_pares_comp = [num 
                    for num in lista_base 
                    if num%2 == 0]

In [55]:
lista_pares_comp

[2, 4, 10, 30]

Caso você queira utilizar também o else como parte da estrutura condicional, a sintaxe muda um pouco:

```python
[valor_caso_if if condicao else valor_caso_else for item in lista_base]
```

In [56]:
# Criar uma lista que diga se o número é ímpar ou par a partir da lista base
lista_base = [1, 2, 3, 4, 5, 10, 21, 23, 27, 29, 30]

# método "tradicional"
par_ou_impar = []
for num in lista_base:
    if num % 2 == 0:
        par_ou_impar.append("Par")
    else:
        par_ou_impar.append("Ímpar")
print(par_ou_impar)

['Ímpar', 'Par', 'Ímpar', 'Par', 'Ímpar', 'Par', 'Ímpar', 'Ímpar', 'Ímpar', 'Ímpar', 'Par']

In [59]:
par_ou_impar_comp = [
    "Par" if x % 2 == 0 
     else "Ímpar" 
     for x in lista_base
]

In [60]:
par_ou_impar_comp

['Ímpar',
 'Par',
 'Ímpar',
 'Par',
 'Ímpar',
 'Par',
 'Ímpar',
 'Ímpar',
 'Ímpar',
 'Ímpar',
 'Par']

Compreensão de listas usando `for` encadeados

In [61]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = [5, 7, 8]

for num1 in l1:
    for num2 in l2:
        print(num1, "x", num2, "=", num1*num2)

1 x 5 = 5
1 x 7 = 7
1 x 8 = 8
2 x 5 = 10
2 x 7 = 14
2 x 8 = 16
3 x 5 = 15
3 x 7 = 21
3 x 8 = 24
4 x 5 = 20
4 x 7 = 28
4 x 8 = 32
5 x 5 = 25
5 x 7 = 35
5 x 8 = 40
6 x 5 = 30
6 x 7 = 42
6 x 8 = 48

**como fazer a operação acima com compreensão de listas**

In [65]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = [5, 7, 8]

[num1*num2 for num1 in l1 for num2 in l2]

[5, 7, 8, 10, 14, 16, 15, 21, 24, 20, 28, 32, 25, 35, 40, 30, 42, 48]

In [67]:
[num1*num2 for num2 in l2 for num1 in l1]

[5, 10, 15, 20, 25, 30, 7, 14, 21, 28, 35, 42, 8, 16, 24, 32, 40, 48]

In [68]:
[for num1 in l1 for num2 in l2 num1*num2]

SyntaxError: invalid syntax (<ipython-input-68-a75e3b7476d1>, line 1)

Remova todas as vogais de uma dada string utilizando compreensões de lista.

Por exemplo, em `"banana"` o retorno deve ser:  
`"bnn"`

Lembre da operação `"".join()`

In [13]:
lista_char = " ".join("banana").split()

vogais = ['a', 'e', 'i', 'o', 'u']

for char in lista_char:
  if char in vogais:
    lista_char.remove(char)

"".join(lista_char)

'bnn'

In [14]:
lista_char_comp = [char for char in "banana" if char not in vogais]

"".join(lista_char_comp)

'bnn'

In [15]:
string = "banana"
string.split()

['banana']

In [104]:
" ".join("banana").split()

['b', 'a', 'n', 'a', 'n', 'a']

In [100]:
[char for char in string]

['b', 'a', 'n', 'a', 'n', 'a']

In [101]:
[char for char in string if char not in vogais]

['b', 'n', 'n']

In [98]:
"".join([char for char in string if char not in vogais])

'bnn'

In [107]:
string = "banana"
string2 = "abacaxi"
string3 = "mamao"
string4 = "uva"

strings = []
for s in [string, string2, string3, string4]:
    resultado = "".join([char for char in s if char not in vogais])
    strings.append(resultado)
strings

['bnn', 'bcx', 'mm', 'v']

In [108]:
for i in 'abcde':
    print(i)

a
b
c
d
e

In [109]:
for i in ['a', 'b', 'c', 'd', 'e']:
    print(i)

a
b
c
d
e

Utilizando compreensão de lista encadeadas.

In [17]:
limite = 10

for num in range(limite+1):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
limite = 20
possiveis_divisores = range(2, 10)

lista_divisiveis = []

for num in range(limite+1):
  for divisor in possiveis_divisores:
    if num % divisor == 0:
      lista_divisiveis.append(num)
      break

lista_divisiveis

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20]

In [140]:
# Ache todos os números que são divisíveis por pelo menos um número de 2 a 9,
# dado um número inteiro (o limite)
limite = 20
divisores_possiveis = range(2,10)
lista_divisiveis = []

for num in range(limite+1):
    for divisor in divisores_possiveis:
        if num % divisor == 0: # número que estamos testando é divisível por um dos possíveis divisores!
            lista_divisiveis.append(num)
            break

In [141]:
lista_divisiveis

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20]

In [147]:
[num for num in range(limite+1)
for divisor in divisores_possiveis if num % divisor == 0]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 3,
 4,
 4,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 10,
 12,
 12,
 12,
 12,
 14,
 14,
 15,
 15,
 16,
 16,
 16,
 18,
 18,
 18,
 18,
 20,
 20,
 20]

In [123]:
[num for num in range(limite+1) for divisor in range(2,10) if num % divisor == 0]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 3,
 4,
 4,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 9,
 10,
 10,
 12,
 12,
 12,
 12,
 14,
 14,
 15,
 15,
 16,
 16,
 16,
 18,
 18,
 18,
 18,
 20,
 20,
 20]

In [148]:
set([num for num in range(limite+1) for divisor in range(2,10) if num%divisor == 0])

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20}

In [136]:
list(set([num for num in range(limite+1) for divisor in range(2,10) if num%divisor == 0]))

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20]

In [159]:
[
    num for num in range(limite+1) 
     if "Encontrou divisor" in 
     ['Encontrou divisor' for divisor in range(2,10) if num % divisor == 0]
]

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20]

___

In [162]:
num = 8
['Encontrou divisor' for divisor in range(2,10) if num % divisor == 0]

['Encontrou divisor', 'Encontrou divisor', 'Encontrou divisor']

In [163]:
"Encontrou divisor" in ['Encontrou divisor' for divisor in range(2,10) if num % divisor == 0]

True

In [158]:
True in [True for divisor in range(2,10) if num % divisor == 0]

True

___

Vimos, assim, que a compreensão de lista pode ser bastante útil para auxiliar na legibilidade do código! Vale sempre ressaltar, no entanto, que exatamente o mesmo resultado pode ser obtido com estruturas de repetição.